<div class="main">
  <table class="board">
    <tbody class="tbody">
      <%= live_component SudokuSolverWeb.BoardLive.BoardComponent, board: @board %>
    </tbody>
  </table>

  <div class="buttons">
    <div phx-click="generate" class="button gen-btn">Generate</div>
    <div class="button gen-btn">Reset</div>
    <div phx-click="solve" class="button check-btn">Solve</div>
  </div>
</div>
